.FormBusca {
    border-color: #000980;
}

.FormBusca .Lengend {
    color: #000980;
}

.FormBusca .FormGroup {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormBusca .Input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FormBusca .FormButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.FormBusca .Input .Label {
    margin-right: 5px;
}