@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&family=Roboto:wght@300;400&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d2630;
}

.root {
  height: 100vh;
  width: 70vw;
  margin: 15px;
}